#main-footer {
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  background: url("../assets/img/image.jpg");
  background-position: 54% 95%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}

#main-body {
  min-height: 90vh;
}

.card-img-top {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

// CkEditor5 Setting
.ck {
  .ck-editor {
    min-width: 100%;
  }
}

.ck-editor__editable {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100rem;
}
.ck-editor__editable_inline {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100%;
}

// 글을 쓸 때 마다 화면이 흔들리는 것을 잡아줌
html {
  width: 100vw;
  overflow-x: hidden;
}

textarea {
  resize: none;
}

.my_category {
  &:last-child {
    margin-bottom: 0.25rem;
  }
}

.instagram {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.github {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

//확인
